# 数据分析

经常有人说不会数据分析就没有未来，所以数据分析的作用性非常大，在拥有数据分析的工具使用的基础后如果还有数据分析的思维以及能力，那么我们的稀缺性会更高，毕竟在目前公司里编程语言开发使用者占大多数，但能在使用的基础之上还能做到对于数据的分析研究并挖掘，这是比较稀缺的。
数据分析中用到的模块最多的就是numpy,pandas和matplotlib还有seaborn最后是re，接下来就一一讲解下其中的用法，以及对应的使用场景，毕竟要结合刻意思考，刻意练习还有以教代练。
pandas经常和其它工具一同使用，如数值计算工具NumPy和SciPy，分析库statsmodels和scikit-learn，和数据可视化库matplotlib。pandas是基于NumPy数组构建的，特别是基于数组的函数和不使用for循环的数据处理。
虽然pandas采用了大量的NumPy编码风格，但二者最大的不同是pandas是专门为处理表格和混杂数据设计的。而NumPy更适合处理统一的数值数组数据。
## pandas
数据分析中用到的模块最多的就是numpy,pandas和matplotlib还有seaborn最后是re，接下来就一一讲解下其中的用法，以及对应的使用场景，毕竟要结合刻意思考，刻意练习还有以教代练。
pandas经常和其它工具一同使用，如数值计算工具NumPy和SciPy，分析库statsmodels和scikit-learn，和数据可视化库matplotlib。pandas是基于NumPy数组构建的，特别是基于数组的函数和不使用for循环的数据处理。
虽然pandas采用了大量的NumPy编码风格，但二者最大的不同是pandas是专门为处理表格和混杂数据设计的。而NumPy更适合处理统一的数值数组数据。
那么如何使用pandas呢？

In [2]:
import pandas as pd #给pandas别名，更好的使用这个模块

### pandas的数据结构应用
#### Series
Series是一种类似于数组的对象，类似于Numpy，它由索引和数据所构成
比如以下例子：

In [8]:
import pandas as pd #给pandas别名，更好的使用这个模块
obj = pd.Series(list(range(1,10)))
print(obj)
print(obj.values)
print(obj.index)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64
[1 2 3 4 5 6 7 8 9]
RangeIndex(start=0, stop=9, step=1)

### 索引选取和过滤
#### 索引和过滤

In [10]:
import pandas as pd #给pandas别名，更好的使用这个模块
obj2 = pd.Series(list(range(1,10)),index=list(range(1,19,2)))
print(obj2)
print(obj2.values)
print(obj2.index)
print(obj2[3])#也可以拿到单个或者多个的值
print(obj2[[1,3,5]])#注意当中一定要有两次的[]，这样就能拿到对应的数据
print(obj2[:10])#切片的话优先会对value进行切片，因此要注意，除非其中没有value值才会对索引进行过滤
print(obj2[obj2>5])#跟上面切片一样的，也是可以通过判断筛选出对应的索引然后再选到对应的值
obj2[1,3,5]=5 #这样对应的是索引
print(obj2)
4 in obj2 #这里又是指的index索引
#再举个例子
data = pd.DataFrame(np.arange(16).reshape((4, 4)),index=['Ohio', 'Colorado', 'Utah', 'New York'],columns=['one', 'two', 'three', 'four'])
print(data)
print(data<5)#可以判断是否<5
#也可以通过选取<5的单元格进行值替换
data[(data<5)]=5
print(data)

1     1
3     2
5     3
7     4
9     5
11    6
13    7
15    8
17    9
dtype: int64
[1 2 3 4 5 6 7 8 9]
Int64Index([1, 3, 5, 7, 9, 11, 13, 15, 17], dtype='int64')
2
1    1
3    2
5    3
dtype: int64
1     1
3     2
5     3
7     4
9     5
11    6
13    7
15    8
17    9
dtype: int64
11    6
13    7
15    8
17    9
dtype: int64
1     5
3     5
5     5
7     4
9     5
11    6
13    7
15    8
17    9
dtype: int64
          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15
            one    two  three   four
Ohio       True   True   True   True
Colorado   True  False  False  False
Utah      False  False  False  False
New York  False  False  False  False
          one  two  three  four
Ohio        5    5      5     5
Colorado    5    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

我们其实看上面例子可以看出来Series是带有索引的数组，那不是和字典类似吗？那我们是不是可以用来应用字典呢？答案是当然可以

In [27]:
import pandas as pd #给pandas别名，更好的使用这个模块
a_dictionary={'mike':'hello','david':'hi','andy':'welcome'}  
obj3 = pd.Series(a_dictionary)
print(obj3)
#当然也可以改变字典的顺序比如
obj4 = pd.Series(a_dictionary,index=['david','mike','andy','jack'])
print(obj4)
#我们发现当中有null值,可以通过isnull来判断
print(pd.isnull(obj4))
#也可以这样
print(obj4.isnull())

mike       hello
david         hi
andy     welcome
dtype: object
david         hi
mike       hello
andy     welcome
jack         NaN
dtype: object
david    False
mike     False
andy     False
jack      True
dtype: bool
david    False
mike     False
andy     False
jack      True
dtype: bool

我们还可以对数据进行重新索引也可以进行填充，用method选项填充

In [9]:
obj3 = pd.Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])
obj3
obj3.reindex(range(6))#这样数据就会有部分为NaN
obj3.reindex(range(6),method='ffill')#可以进行填充

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

## DataFrame
DataFrame为表格型的数据结构。

In [6]:
import pandas as pd
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data)
print(frame)
print(frame.head())

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2
    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

当然也可以指定列的顺序

In [8]:
pd.DataFrame(data,columns=['pop','year','state'])

   pop  year   state
0  1.5  2000    Ohio
1  1.7  2001    Ohio
2  3.6  2002    Ohio
3  2.4  2001  Nevada
4  2.9  2002  Nevada
5  3.2  2003  Nevada

当然也可以在原来的数据中再加一列

In [16]:
data2=pd.DataFrame(data,columns=['pop','year','state','debt'])
print(data2)
data2=pd.DataFrame(data,columns=['pop','year','state','debt'],index=list(range(1,7)))
print(data2)

   pop  year   state debt
0  1.5  2000    Ohio  NaN
1  1.7  2001    Ohio  NaN
2  3.6  2002    Ohio  NaN
3  2.4  2001  Nevada  NaN
4  2.9  2002  Nevada  NaN
5  3.2  2003  Nevada  NaN
   pop  year   state debt
1  1.5  2000    Ohio  NaN
2  1.7  2001    Ohio  NaN
3  3.6  2002    Ohio  NaN
4  2.4  2001  Nevada  NaN
5  2.9  2002  Nevada  NaN
6  3.2  2003  Nevada  NaN

当然可以给null的值赋值

In [25]:
for i in range(1,7):
    data2['debt'][i]=i
print(data2)
print(data2['debt'])
print(data2.debt)#这两种方式都是一样的

   pop  year   state  debt
1  1.5  2000    Ohio     1
2  1.7  2001    Ohio     2
3  3.6  2002    Ohio     3
4  2.4  2001  Nevada     4
5  2.9  2002  Nevada     5
6  3.2  2003  Nevada     6
1    1
2    2
3    3
4    4
5    5
6    6
Name: debt, dtype: int64
1    1
2    2
3    3
4    4
5    5
6    6
Name: debt, dtype: int64

/var/folders/0n/6mryfm8x06gfzddk4dympfg80000gn/T/ipykernel_36999/681092870.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['debt'][i]=i

当然也可以添加一个计算列，比如根据判断state是否是'Ohio',如果是就返回True，如果不是就返回False

In [6]:
import pandas as pd
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
data2=pd.DataFrame(data,columns=['pop','year','state','debt'])

data2['exp']=data2.state == 'Ohio'
data2

   pop  year   state debt    exp
0  1.5  2000    Ohio  NaN   True
1  1.7  2001    Ohio  NaN   True
2  3.6  2002    Ohio  NaN   True
3  2.4  2001  Nevada  NaN  False
4  2.9  2002  Nevada  NaN  False
5  3.2  2003  Nevada  NaN  False

In [ ]:
也可以用del方法来删除某一列

In [7]:
del data2['exp']
data2

   pop  year   state debt
0  1.5  2000    Ohio  NaN
1  1.7  2001    Ohio  NaN
2  3.6  2002    Ohio  NaN
3  2.4  2001  Nevada  NaN
4  2.9  2002  Nevada  NaN
5  3.2  2003  Nevada  NaN

当然我们还可以对数据进行转置，类似excel的转置

In [8]:
data3=data2.T

我们也可以对DataFrame的数据进行重新索引

In [9]:
data4=data2.reindex(range(8))#这样数据就会有部分为NaN
print(data4)
data5=data2.reindex(columns=['year','state','debt','pop','exp'])#也可以对列进行索引
print(data5)

   pop    year   state debt
0  1.5  2000.0    Ohio  NaN
1  1.7  2001.0    Ohio  NaN
2  3.6  2002.0    Ohio  NaN
3  2.4  2001.0  Nevada  NaN
4  2.9  2002.0  Nevada  NaN
5  3.2  2003.0  Nevada  NaN
6  NaN     NaN     NaN  NaN
7  NaN     NaN     NaN  NaN
   year   state debt  pop  exp
0  2000    Ohio  NaN  1.5  NaN
1  2001    Ohio  NaN  1.7  NaN
2  2002    Ohio  NaN  3.6  NaN
3  2001  Nevada  NaN  2.4  NaN
4  2002  Nevada  NaN  2.9  NaN
5  2003  Nevada  NaN  3.2  NaN
[[2000 'Ohio' nan 1.5 nan]
 [2001 'Ohio' nan 1.7 nan]
 [2002 'Ohio' nan 3.6 nan]
 [2001 'Nevada' nan 2.4 nan]
 [2002 'Nevada' nan 2.9 nan]
 [2003 'Nevada' nan 3.2 nan]]

#### 丢弃制定轴上的项
我们可以对数据对象的某一列的数据进行丢弃，比如以下例子：

In [5]:
import pandas as pd
import numpy as np
obj = pd.Series(np.arange(5.), index=['a', 'b', 'c', 'd', 'e'])
print(obj)
obj.drop('c')#可以对某一列进行丢弃对其本身不会做任何修改
print(obj)
obj.drop('c',inplace=True)#可以对某一列进行丢弃对其本身会做任何修改，小心使用inplace，它会销毁所有被删除的数据。
print(obj)
#当然也可以对对象多个列进行操作
obj2=obj.drop(['e','d'])
print(obj2)
#再举个例子,DataFrame的例子
data=pd.DataFrame(np.arange(16).reshape(4,4),index=['Ohio', 'Colorado', 'Utah', 'New York'],columns=['one', 'two', 'three', 'four'])
print(data)
#我们可以删除索引
data2=data.drop(['Ohio','Colorado'])
print(data2)
#当然也可以删除对应的列,通过传递axis=1或axis='columns'可以删除列的值,下面两张方式效果是一样的
data3=data.drop('two',axis=1)
print(data3)
data4=data.drop('two',axis='columns')
print(data4)

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64
a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64
a    0.0
b    1.0
d    3.0
e    4.0
dtype: float64
a    0.0
b    1.0
dtype: float64
          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15
          one  two  three  four
Utah        8    9     10    11
New York   12   13     14    15
          one  three  four
Ohio        0      2     3
Colorado    4      6     7
Utah        8     10    11
New York   12     14    15
          one  three  four
Ohio        0      2     3
Colorado    4      6     7
Utah        8     10    11
New York   12     14    15

#### 用loc和iloc进行选取
轴标签（loc）或整数索引（iloc），可以通过他们两个从DataFrame选择行和列的子集

In [56]:
import pandas as pd
import numpy as np
data = pd.DataFrame(np.arange(16).reshape(4,4),index=['1','2','3','4'],columns=['a','b','c','d'])
print(data)
# 我们要选取第1行第2列，第3列
print(data.loc['1',['b','c']])
print(data['a'])#只取第1列的数据
print(data.loc['1'])#只取第一行
print(data.loc[:,'a'])#只取第1列和data['a']作用一样
print(data.loc[['1','2']])#要注意是双[],取的是两行第一行和第二行
print(data.iloc[1])#只能取整数索引，从第0列开始算
print(data.iloc[0,[1,2]])#通过整数位置，同时选取行和列
print(data.iloc[[1,2]])#通过整数位置，从DataFrame选取单个行或行子集
print(data.iloc[:,[1,2]])#通过整数位置，从DataFrame选取单个列或列子集
print(data.at['2','a'])#通过行和列标签，选取单一的标量

    a   b   c   d
1   0   1   2   3
2   4   5   6   7
3   8   9  10  11
4  12  13  14  15
b    1
c    2
Name: 1, dtype: int64
1     0
2     4
3     8
4    12
Name: a, dtype: int64
a    0
b    1
c    2
d    3
Name: 1, dtype: int64
1     0
2     4
3     8
4    12
Name: a, dtype: int64
   a  b  c  d
1  0  1  2  3
2  4  5  6  7
a    4
b    5
c    6
d    7
Name: 2, dtype: int64
b    1
c    2
Name: 1, dtype: int64
   a  b   c   d
2  4  5   6   7
3  8  9  10  11
    b   c
1   1   2
2   5   6
3   9  10
4  13  14
4

|类型|说明|
|--|--|
|df[val]|从DataFrame选取单列或一组列:在特殊情况下比较便利:布尔型数组(过滤行）、切片（行切片）、或布尔类型DataFrame(根据条件设置值)|
|df.loc[val]|通过标签，选取DataFrame的单个行或一组行|
|df.loc[:,val]|通过标签，选取单列或列子集|
|df.loc[val1,val2]|通过标签，同时选取行和列|
|df.iloc[where]|通过整数位置，从DataFrame选取单个行或行子集|
|df.iloc[;,where]|通过整数位置，从DataFrame选取单个列或列子集|
|df.iloc[where_i,where_j]|通过整数位置，同时选取行和列|
|df.at[label_i,label_j]|通过行和列标签，选取单一的标量|

#### 算术运算和数据对齐
pandas最重要的一个功能是，它可以对不同索引的对象进行算术运算。在将对象相加时，如果存在不同的索引对，则结果的索引就是该索引对的并集。对于有数据库经验的用户，这就像在索引标签上进行自动外连接。看一个简单的例子：

In [52]:
import pandas as pd

s1 = pd.Series([7.3,-2.5,3.4,1.5],index=['a','b','c','d'])
print(s1)
s2 = pd.Series([-2.1,-2.0,3.2,1.7],index=['a','b','c','d'])
print(s2)
print(s1+s2)#会依照索引进行相加
s3= pd.Series([-2.1,-2.0,3.2,1.7],index=['a','c','d','e'])
print(s1+s3)#如果索引中的值为NaN，那么相加也会返回NaN

a    7.3
b   -2.5
c    3.4
d    1.5
dtype: float64
a   -2.1
b   -2.0
c    3.2
d    1.7
dtype: float64
a    5.2
b   -4.5
c    6.6
d    3.2
dtype: float64
a    5.2
b    NaN
c    1.4
d    4.7
e    NaN
dtype: float64

对于DataFrame，对齐操作会同时发生在行和列上：

In [54]:
import pandas as pd
df1 = pd.DataFrame(np.arange(9.).reshape(3,3),columns=list('bcd'),index=['Ohio','Texas','Colorado'])
print(df1)
df2 = pd.DataFrame(np.arange(12.).reshape(4,3),columns=list('bde'),index=['Utah', 'Ohio','Texas','Colorado'])
print(df2)
print(df1+df2)

            b    c    d
Ohio      0.0  1.0  2.0
Texas     3.0  4.0  5.0
Colorado  6.0  7.0  8.0
            b     d     e
Utah      0.0   1.0   2.0
Ohio      3.0   4.0   5.0
Texas     6.0   7.0   8.0
Colorado  9.0  10.0  11.0
             b   c     d   e
Colorado  15.0 NaN  18.0 NaN
Ohio       3.0 NaN   6.0 NaN
Texas      9.0 NaN  12.0 NaN
Utah       NaN NaN   NaN NaN

当然也可以拿series和dataframe做算术运算，毕竟两者很类似。默认情况下，DataFrame和Series之间的算术运算会将Series的索引匹配到DataFrame的列，然后沿着行一直向下广播：

In [58]:
import pandas as pd
s1 = pd.Series([7.3,-2.5,3.4,1.5],index=['a','b','c','d'])
print(s1)
s2 = pd.DataFrame(np.arange(12.).reshape((4, 3)),columns=list('bde'),index=['Utah', 'Ohio', 'Texas', 'Oregon'])
print(s2)
print(s1+s2)

a    7.3
b   -2.5
c    3.4
d    1.5
dtype: float64
          b     d     e
Utah    0.0   1.0   2.0
Ohio    3.0   4.0   5.0
Texas   6.0   7.0   8.0
Oregon  9.0  10.0  11.0
         a    b   c     d   e
Utah   NaN -2.5 NaN   2.5 NaN
Ohio   NaN  0.5 NaN   5.5 NaN
Texas  NaN  3.5 NaN   8.5 NaN
Oregon NaN  6.5 NaN  11.5 NaN

#### 在算术方法中填充值
在对不同索引的对象进行算术运算时，你可能希望当一个对象中某个轴标签在另一个对象中找不到时填充一个特殊值（比如0）：

In [65]:
import pandas as pd
import numpy as np
df1 = pd.DataFrame(np.arange(12.).reshape((3, 4)),columns=list('abcd'))
df2 = pd.DataFrame(np.arange(20.).reshape((4, 5)),columns=list('abcde'))
print(df2)
df2.loc[1,'b']=np.nan
print(df2)
#将它们相加时，没有重叠的位置就会产生NA值：
print(df1)
print(df1+df2)
#使用df1的add方法，传入df2以及一个fill_value参数：
print(df1.add(df2,fill_value=0))
print(df1.sub(df2,fill_value=0))
print(df1.div(df2,fill_value=0))
print(df1.floordiv(df2,fill_value=0))
print(df1.mul(df2,fill_value=0))
print(df1.pow(df2,fill_value=0))

      a     b     c     d     e
0   0.0   1.0   2.0   3.0   4.0
1   5.0   6.0   7.0   8.0   9.0
2  10.0  11.0  12.0  13.0  14.0
3  15.0  16.0  17.0  18.0  19.0
      a     b     c     d     e
0   0.0   1.0   2.0   3.0   4.0
1   5.0   NaN   7.0   8.0   9.0
2  10.0  11.0  12.0  13.0  14.0
3  15.0  16.0  17.0  18.0  19.0
     a    b     c     d
0  0.0  1.0   2.0   3.0
1  4.0  5.0   6.0   7.0
2  8.0  9.0  10.0  11.0
      a     b     c     d   e
0   0.0   2.0   4.0   6.0 NaN
1   9.0   NaN  13.0  15.0 NaN
2  18.0  20.0  22.0  24.0 NaN
3   NaN   NaN   NaN   NaN NaN
      a     b     c     d     e
0   0.0   2.0   4.0   6.0   4.0
1   9.0   5.0  13.0  15.0   9.0
2  18.0  20.0  22.0  24.0  14.0
3  15.0  16.0  17.0  18.0  19.0
      a     b     c     d     e
0   0.0   0.0   0.0   0.0  -4.0
1  -1.0   5.0  -1.0  -1.0  -9.0
2  -2.0  -2.0  -2.0  -2.0 -14.0
3 -15.0 -16.0 -17.0 -18.0 -19.0
     a         b         c         d    e
0  NaN  1.000000  1.000000  1.000000  0.0
1  0.8       inf  0.857143  0.875000  0.0
2  0.8  0.818182  0.833333  0.846154  0.0
3  0.0  0.000000  0.000000  0.000000  0.0
     a    b    c    d    e
0  NaN  1.0  1.0  1.0  0.0
1  0.0  inf  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0  0.0
      a     b      c      d    e
0   0.0   1.0    4.0    9.0  0.0
1  20.0   0.0   42.0   56.0  0.0
2  80.0  99.0  120.0  143.0  0.0
3   0.0   0.0    0.0    0.0  0.0
              a             b             c             d    e
0  1.000000e+00  1.000000e+00  4.000000e+00  2.700000e+01  0.0
1  1.024000e+03  1.000000e+00  2.799360e+05  5.764801e+06  0.0
2  1.073742e+09  3.138106e+10  1.000000e+12  3.452271e+13  0.0
3  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.0

以下是Series和DataFrame的算术方法
|方法|说明|用法|
|--|--|--|
|add,radd|用于加法(+)的方法|df1.add(df2)或者df1.add(df2,fill_value=0)将NaN的填充为0|
|sub,rsub|用于减法(-)的方法|df1.sub(df2)或者df1.sub(df2,fill_value=0)将NaN的填充为0|
|div,rdiv|用于除法(/)的方法|df1.rdiv(df2)或者df1.rdiv(df2,fill_value=0)将NaN的填充为0|
|floordiv,rfloordiv|用于底除(//)的方法|df1.floordiv(df2)或者df1.floordiv(df2,fill_value=0)将NaN的填充为0|
|mul,rmul|用于乘法(*)的方法|df1.mul(df2)或者df1.mul(df2,fill_value=0)将NaN的填充为0|
|pow,rpow|用于指数(**)的方法|df1.pow(df2)或者df1.pow(df2,fill_value=0)将NaN的填充为0|

## 函数应用和映射
NumPy的ufuncs（元素级数组方法）也可用于操作pandas对象，后面我们算数运算以及数据再加工都可以用到：

In [75]:
import pandas as pd #给pandas别名，更好的使用这个模块
frame = pd.DataFrame(np.random.randn(4, 3), columns=list('bde'),index=['Utah', 'Ohio', 'Texas', 'Oregon'])
print(frame)#打印下frame
print(np.abs(frame))#打印frame的绝对值
f = lambda x: x.max() - x.min() #做一个算术运算逻辑,匿名方法lambda
print(frame.apply(f))
#当然也可以指定行
print(frame.apply(f, axis='columns'))
#许多最为常见的数组统计功能都被实现成DataFrame的方法（如sum和mean），因此无需使用apply方法。
#传递到apply的函数不是必须返回一个标量，还可以返回由多个值组成的Series：
def f(x):
    return pd.Series([x.min(), x.max()], index=['min', 'max'])
print(frame.apply(f))
#元素级的Python函数也是可以用的。假如你想得到frame中各个浮点值的格式化字符串，使用applymap即可：
format = lambda x: '%.2f' % x
print(frame.applymap(format))
#之所以叫做applymap，是因为Series有一个用于应用元素级函数的map方法：
print(frame['e'].map(format))

               b         d         e
Utah    0.177277  0.478391  0.300703
Ohio    0.198568  0.248663 -0.646564
Texas  -0.050653  1.121828 -0.571210
Oregon -0.157193 -1.688991  0.630852
               b         d         e
Utah    0.177277  0.478391  0.300703
Ohio    0.198568  0.248663  0.646564
Texas   0.050653  1.121828  0.571210
Oregon  0.157193  1.688991  0.630852
b    0.355761
d    2.810819
e    1.277416
dtype: float64
Utah      0.301114
Ohio      0.895227
Texas     1.693038
Oregon    2.319843
dtype: float64
            b         d         e
min -0.157193 -1.688991 -0.646564
max  0.198568  1.121828  0.630852
            b      d      e
Utah     0.18   0.48   0.30
Ohio     0.20   0.25  -0.65
Texas   -0.05   1.12  -0.57
Oregon  -0.16  -1.69   0.63
Utah       0.30
Ohio      -0.65
Texas     -0.57
Oregon     0.63
Name: e, dtype: object

Utah      0.318790
Ohio     -0.066444
Texas     0.166655
Oregon   -0.405110
dtype: float64

## 汇总和排序方法
当然除了这些运算外，像求最大值，求累计值，求排名和排序这些都会用到，我们就统一理一个表格来梳理下。
### 排序方法

In [100]:
import pandas as pd #给pandas别名，更好的使用这个模块
frame = pd.DataFrame(np.random.randn(4, 3), columns=list('bed'),index=['2', '3', '1', '4'])
print(frame)#打印下frame
print(frame.sort_index())#我们可以通过sort_index()来返回按照索引的排序
print(frame.sort_index(axis=1))#之前有说到过axis=0为索引为行，axis=1为列
print(frame.sort_index(axis=1,ascending=False))#当然我们也可以降序排序
print(frame.sort_values(by='b',ascending=False))#也可以按照值来排序，比如我们有时希望按照表中哪个字段排序
print(frame.sort_values(by=['d', 'b'],ascending=False))#也可以多个字段进行排序
print(frame.rank(axis=0))#按行排序
print(frame.rank(axis='columns'))#按列排序
print(frame.min(axis='columns'))#按列排序，求出最小值

          b         e         d
2 -0.500263  0.702904  2.335214
3  3.252250  0.244196  0.171796
1  0.469565 -0.963382 -1.516873
4 -0.935815  0.306789  1.418025
          b         e         d
1  0.469565 -0.963382 -1.516873
2 -0.500263  0.702904  2.335214
3  3.252250  0.244196  0.171796
4 -0.935815  0.306789  1.418025
          b         d         e
2 -0.500263  2.335214  0.702904
3  3.252250  0.171796  0.244196
1  0.469565 -1.516873 -0.963382
4 -0.935815  1.418025  0.306789
          e         d         b
2  0.702904  2.335214 -0.500263
3  0.244196  0.171796  3.252250
1 -0.963382 -1.516873  0.469565
4  0.306789  1.418025 -0.935815
          b         e         d
3  3.252250  0.244196  0.171796
1  0.469565 -0.963382 -1.516873
2 -0.500263  0.702904  2.335214
4 -0.935815  0.306789  1.418025
          b         e         d
2 -0.500263  0.702904  2.335214
4 -0.935815  0.306789  1.418025
3  3.252250  0.244196  0.171796
1  0.469565 -0.963382 -1.516873
     b    e    d
2  2.0  4.0  4.0
3  4.0  2.0  2.0
1  3.0  1.0  1.0
4  1.0  3.0  3.0
     b    e    d
2  1.0  2.0  3.0
3  3.0  2.0  1.0
1  3.0  2.0  1.0
4  1.0  2.0  3.0
2   -0.500263
3    0.171796
1   -1.516873
4   -0.935815
dtype: float64

In [120]:
import pandas as pd #给pandas别名，更好的使用这个模块
frame = pd.DataFrame(np.random.randn(4, 3), columns=list('bed'),index=['2', '3', '1', '4'])
print(frame)#打印数据
print(frame.sum())#打印汇总数据
print(frame.count())#打印行数
# #这样看行数都是4
# #我们试着排除NA值看看
# frame2 =frame[frame<1.2]
# print(frame2)

# print(frame2.count(skipna=True))#打印行数
print(frame.idxmax())#求出每一列中最大的索引值
print(frame.cumsum())#求出每一列的累计值
print(frame.mean(axis='columns', skipna=False))#求平均数
print(frame.describe())#描述一整个模型，如行数是多少，平均值是多少，分位数，最小值，最大值，标准差是多少

          b         e         d
2 -0.194546  2.271235 -1.216932
3 -1.058202  0.138722 -1.688732
1 -1.035652 -1.011013  1.142144
4  0.554035 -0.270207 -0.665943
b   -1.734366
e    1.128737
d   -2.429464
dtype: float64
b    4
e    4
d    4
dtype: int64
b    4
e    2
d    1
dtype: object
          b         e         d
2 -0.194546  2.271235 -1.216932
3 -1.252749  2.409957 -2.905664
1 -2.288401  1.398944 -1.763520
4 -1.734366  1.128737 -2.429464
2    0.286585
3   -0.869404
1   -0.301507
4   -0.127372
dtype: float64
              b         e         d
count  4.000000  4.000000  4.000000
mean  -0.433591  0.282184 -0.607366
std    0.771398  1.408829  1.238970
min   -1.058202 -1.011013 -1.688732
25%   -1.041290 -0.455408 -1.334882
50%   -0.615099 -0.065742 -0.941438
75%   -0.007401  0.671850 -0.213922
max    0.554035  2.271235  1.142144

|方法|说明|
|--|--|
|count|非NA值的数量|
|describe|针对Series或各DataFrame列计算汇总统计|
|min、max|计算最小值和最大值|
|argmin、argmax|计算能够获取最小值和最大值的索引位置（整数）|
|idxmin、idxmax|计算能够获取到最小值和最大值的索引值|
|quantile|计算样本的分位数（0到1）|
|sum|值的总和|
|mean|值的平均数|
|median|值的算数中位数（50%分位数）|
|mad|根据平均值平均绝对离差|
|var|样本值的方差|
|std|样本值的标准差|
|skew|样本值的偏度（三阶矩）|
|kurt|样本值的偏度（四阶矩）|
|cumsum|样本值的累计和|
|cummin、cummax|样本值的累计最大值和累计最小值|
|cumprod|样本值的累计积|
|diff|计算一阶差分（对时间序列很有用）|
|pct_change|计算本分数变化|