# 数据分析

经常有人说不会数据分析就没有未来，所以数据分析的作用性非常大，在拥有数据分析的工具使用的基础后如果还有数据分析的思维以及能力，那么我们的稀缺性会更高，毕竟在目前公司里编程语言开发使用者占大多数，但能在使用的基础之上还能做到对于数据的分析研究并挖掘，这是比较稀缺的。
数据分析中用到的模块最多的就是numpy,pandas和matplotlib还有seaborn最后是re，接下来就一一讲解下其中的用法，以及对应的使用场景，毕竟要结合刻意思考，刻意练习还有以教代练。
pandas经常和其它工具一同使用，如数值计算工具NumPy和SciPy，分析库statsmodels和scikit-learn，和数据可视化库matplotlib。pandas是基于NumPy数组构建的，特别是基于数组的函数和不使用for循环的数据处理。
虽然pandas采用了大量的NumPy编码风格，但二者最大的不同是pandas是专门为处理表格和混杂数据设计的。而NumPy更适合处理统一的数值数组数据。
## pandas
数据分析中用到的模块最多的就是numpy,pandas和matplotlib还有seaborn最后是re，接下来就一一讲解下其中的用法，以及对应的使用场景，毕竟要结合刻意思考，刻意练习还有以教代练。
pandas经常和其它工具一同使用，如数值计算工具NumPy和SciPy，分析库statsmodels和scikit-learn，和数据可视化库matplotlib。pandas是基于NumPy数组构建的，特别是基于数组的函数和不使用for循环的数据处理。
虽然pandas采用了大量的NumPy编码风格，但二者最大的不同是pandas是专门为处理表格和混杂数据设计的。而NumPy更适合处理统一的数值数组数据。
那么如何使用pandas呢？

In [2]:
import pandas as pd #给pandas别名，更好的使用这个模块

### pandas的数据结构应用
#### Series
Series是一种类似于数组的对象，类似于Numpy，它由索引和数据所构成
比如以下例子：

In [8]:
import pandas as pd #给pandas别名，更好的使用这个模块
obj = pd.Series(list(range(1,10)))
print(obj)
print(obj.values)
print(obj.index)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64
[1 2 3 4 5 6 7 8 9]
RangeIndex(start=0, stop=9, step=1)

### 索引选取和过滤
#### 索引和过滤

In [10]:
import pandas as pd #给pandas别名，更好的使用这个模块
obj2 = pd.Series(list(range(1,10)),index=list(range(1,19,2)))
print(obj2)
print(obj2.values)
print(obj2.index)
print(obj2[3])#也可以拿到单个或者多个的值
print(obj2[[1,3,5]])#注意当中一定要有两次的[]，这样就能拿到对应的数据
print(obj2[:10])#切片的话优先会对value进行切片，因此要注意，除非其中没有value值才会对索引进行过滤
print(obj2[obj2>5])#跟上面切片一样的，也是可以通过判断筛选出对应的索引然后再选到对应的值
obj2[1,3,5]=5 #这样对应的是索引
print(obj2)
4 in obj2 #这里又是指的index索引
#再举个例子
data = pd.DataFrame(np.arange(16).reshape((4, 4)),index=['Ohio', 'Colorado', 'Utah', 'New York'],columns=['one', 'two', 'three', 'four'])
print(data)
print(data<5)#可以判断是否<5
#也可以通过选取<5的单元格进行值替换
data[(data<5)]=5
print(data)

1     1
3     2
5     3
7     4
9     5
11    6
13    7
15    8
17    9
dtype: int64
[1 2 3 4 5 6 7 8 9]
Int64Index([1, 3, 5, 7, 9, 11, 13, 15, 17], dtype='int64')
2
1    1
3    2
5    3
dtype: int64
1     1
3     2
5     3
7     4
9     5
11    6
13    7
15    8
17    9
dtype: int64
11    6
13    7
15    8
17    9
dtype: int64
1     5
3     5
5     5
7     4
9     5
11    6
13    7
15    8
17    9
dtype: int64
          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15
            one    two  three   four
Ohio       True   True   True   True
Colorado   True  False  False  False
Utah      False  False  False  False
New York  False  False  False  False
          one  two  three  four
Ohio        5    5      5     5
Colorado    5    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

我们其实看上面例子可以看出来Series是带有索引的数组，那不是和字典类似吗？那我们是不是可以用来应用字典呢？答案是当然可以

In [27]:
import pandas as pd #给pandas别名，更好的使用这个模块
a_dictionary={'mike':'hello','david':'hi','andy':'welcome'}  
obj3 = pd.Series(a_dictionary)
print(obj3)
#当然也可以改变字典的顺序比如
obj4 = pd.Series(a_dictionary,index=['david','mike','andy','jack'])
print(obj4)
#我们发现当中有null值,可以通过isnull来判断
print(pd.isnull(obj4))
#也可以这样
print(obj4.isnull())

mike       hello
david         hi
andy     welcome
dtype: object
david         hi
mike       hello
andy     welcome
jack         NaN
dtype: object
david    False
mike     False
andy     False
jack      True
dtype: bool
david    False
mike     False
andy     False
jack      True
dtype: bool

我们还可以对数据进行重新索引也可以进行填充，用method选项填充

In [9]:
obj3 = pd.Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])
obj3
obj3.reindex(range(6))#这样数据就会有部分为NaN
obj3.reindex(range(6),method='ffill')#可以进行填充

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

## DataFrame
DataFrame为表格型的数据结构。

In [6]:
import pandas as pd
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data)
print(frame)
print(frame.head())

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2
    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

当然也可以指定列的顺序

In [8]:
pd.DataFrame(data,columns=['pop','year','state'])

   pop  year   state
0  1.5  2000    Ohio
1  1.7  2001    Ohio
2  3.6  2002    Ohio
3  2.4  2001  Nevada
4  2.9  2002  Nevada
5  3.2  2003  Nevada

当然也可以在原来的数据中再加一列

In [16]:
data2=pd.DataFrame(data,columns=['pop','year','state','debt'])
print(data2)
data2=pd.DataFrame(data,columns=['pop','year','state','debt'],index=list(range(1,7)))
print(data2)

   pop  year   state debt
0  1.5  2000    Ohio  NaN
1  1.7  2001    Ohio  NaN
2  3.6  2002    Ohio  NaN
3  2.4  2001  Nevada  NaN
4  2.9  2002  Nevada  NaN
5  3.2  2003  Nevada  NaN
   pop  year   state debt
1  1.5  2000    Ohio  NaN
2  1.7  2001    Ohio  NaN
3  3.6  2002    Ohio  NaN
4  2.4  2001  Nevada  NaN
5  2.9  2002  Nevada  NaN
6  3.2  2003  Nevada  NaN

当然可以给null的值赋值

In [25]:
for i in range(1,7):
    data2['debt'][i]=i
print(data2)
print(data2['debt'])
print(data2.debt)#这两种方式都是一样的

   pop  year   state  debt
1  1.5  2000    Ohio     1
2  1.7  2001    Ohio     2
3  3.6  2002    Ohio     3
4  2.4  2001  Nevada     4
5  2.9  2002  Nevada     5
6  3.2  2003  Nevada     6
1    1
2    2
3    3
4    4
5    5
6    6
Name: debt, dtype: int64
1    1
2    2
3    3
4    4
5    5
6    6
Name: debt, dtype: int64

/var/folders/0n/6mryfm8x06gfzddk4dympfg80000gn/T/ipykernel_36999/681092870.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['debt'][i]=i

当然也可以添加一个计算列，比如根据判断state是否是'Ohio',如果是就返回True，如果不是就返回False

In [6]:
import pandas as pd
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
data2=pd.DataFrame(data,columns=['pop','year','state','debt'])

data2['exp']=data2.state == 'Ohio'
data2

   pop  year   state debt    exp
0  1.5  2000    Ohio  NaN   True
1  1.7  2001    Ohio  NaN   True
2  3.6  2002    Ohio  NaN   True
3  2.4  2001  Nevada  NaN  False
4  2.9  2002  Nevada  NaN  False
5  3.2  2003  Nevada  NaN  False

In [ ]:
也可以用del方法来删除某一列

In [7]:
del data2['exp']
data2

   pop  year   state debt
0  1.5  2000    Ohio  NaN
1  1.7  2001    Ohio  NaN
2  3.6  2002    Ohio  NaN
3  2.4  2001  Nevada  NaN
4  2.9  2002  Nevada  NaN
5  3.2  2003  Nevada  NaN

当然我们还可以对数据进行转置，类似excel的转置

In [8]:
data3=data2.T

我们也可以对DataFrame的数据进行重新索引

In [9]:
data4=data2.reindex(range(8))#这样数据就会有部分为NaN
print(data4)
data5=data2.reindex(columns=['year','state','debt','pop','exp'])#也可以对列进行索引
print(data5)

   pop    year   state debt
0  1.5  2000.0    Ohio  NaN
1  1.7  2001.0    Ohio  NaN
2  3.6  2002.0    Ohio  NaN
3  2.4  2001.0  Nevada  NaN
4  2.9  2002.0  Nevada  NaN
5  3.2  2003.0  Nevada  NaN
6  NaN     NaN     NaN  NaN
7  NaN     NaN     NaN  NaN
   year   state debt  pop  exp
0  2000    Ohio  NaN  1.5  NaN
1  2001    Ohio  NaN  1.7  NaN
2  2002    Ohio  NaN  3.6  NaN
3  2001  Nevada  NaN  2.4  NaN
4  2002  Nevada  NaN  2.9  NaN
5  2003  Nevada  NaN  3.2  NaN
[[2000 'Ohio' nan 1.5 nan]
 [2001 'Ohio' nan 1.7 nan]
 [2002 'Ohio' nan 3.6 nan]
 [2001 'Nevada' nan 2.4 nan]
 [2002 'Nevada' nan 2.9 nan]
 [2003 'Nevada' nan 3.2 nan]]

#### 丢弃制定轴上的项
我们可以对数据对象的某一列的数据进行丢弃，比如以下例子：

In [5]:
import pandas as pd
import numpy as np
obj = pd.Series(np.arange(5.), index=['a', 'b', 'c', 'd', 'e'])
print(obj)
obj.drop('c')#可以对某一列进行丢弃对其本身不会做任何修改
print(obj)
obj.drop('c',inplace=True)#可以对某一列进行丢弃对其本身会做任何修改，小心使用inplace，它会销毁所有被删除的数据。
print(obj)
#当然也可以对对象多个列进行操作
obj2=obj.drop(['e','d'])
print(obj2)
#再举个例子,DataFrame的例子
data=pd.DataFrame(np.arange(16).reshape(4,4),index=['Ohio', 'Colorado', 'Utah', 'New York'],columns=['one', 'two', 'three', 'four'])
print(data)
#我们可以删除索引
data2=data.drop(['Ohio','Colorado'])
print(data2)
#当然也可以删除对应的列,通过传递axis=1或axis='columns'可以删除列的值,下面两张方式效果是一样的
data3=data.drop('two',axis=1)
print(data3)
data4=data.drop('two',axis='columns')
print(data4)

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64
a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64
a    0.0
b    1.0
d    3.0
e    4.0
dtype: float64
a    0.0
b    1.0
dtype: float64
          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15
          one  two  three  four
Utah        8    9     10    11
New York   12   13     14    15
          one  three  four
Ohio        0      2     3
Colorado    4      6     7
Utah        8     10    11
New York   12     14    15
          one  three  four
Ohio        0      2     3
Colorado    4      6     7
Utah        8     10    11
New York   12     14    15

#### 用loc和iloc进行选取
轴标签（loc）或整数索引（iloc），可以通过他们两个从DataFrame选择行和列的子集

In [23]:
import pandas as pd
import numpy as np
data = pd.DataFrame(np.arange(16).reshape(4,4),index=['1','2','3','4'],columns=['a','b','c','d'])
print(data)
#我们要选取第1行第2列，第3列
print(data.loc['1',['b','c']])
#当然可以用iloc整数索引来选取,数据要从第0行或者第0列开始算
print(data.iloc[0,[1,2]])

    a   b   c   d
1   0   1   2   3
2   4   5   6   7
3   8   9  10  11
4  12  13  14  15
b    1
c    2
Name: 1, dtype: int64
b    1
c    2
Name: 1, dtype: int64

## Numpy
Numpy是带一组索引的数组，我们可以对其进行加工运算。类似于Series。

In [4]:
import pandas as pd #给pandas别名，更好的使用这个模块
import numpy as np
obj = pd.Series(list(range(1,10)))
print(obj)
print(obj[obj>3])#筛选出大于3的数组
print(obj*2)#将数组中的值全*2
np.exp(obj)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64
0     2
1     4
2     6
3     8
4    10
5    12
6    14
7    16
8    18
dtype: int64

0       2.718282
1       7.389056
2      20.085537
3      54.598150
4     148.413159
5     403.428793
6    1096.633158
7    2980.957987
8    8103.083928
dtype: float64