# 数据分析

经常有人说不会数据分析就没有未来，所以数据分析的作用性非常大，在拥有数据分析的工具使用的基础后如果还有数据分析的思维以及能力，那么我们的稀缺性会更高，毕竟在目前公司里编程语言开发使用者占大多数，但能在使用的基础之上还能做到对于数据的分析研究并挖掘，这是比较稀缺的。
数据分析中用到的模块最多的就是numpy,pandas和matplotlib还有seaborn最后是re，接下来就一一讲解下其中的用法，以及对应的使用场景，毕竟要结合刻意思考，刻意练习还有以教代练。
pandas经常和其它工具一同使用，如数值计算工具NumPy和SciPy，分析库statsmodels和scikit-learn，和数据可视化库matplotlib。pandas是基于NumPy数组构建的，特别是基于数组的函数和不使用for循环的数据处理。
虽然pandas采用了大量的NumPy编码风格，但二者最大的不同是pandas是专门为处理表格和混杂数据设计的。而NumPy更适合处理统一的数值数组数据。
## pandas
数据分析中用到的模块最多的就是numpy,pandas和matplotlib还有seaborn最后是re，接下来就一一讲解下其中的用法，以及对应的使用场景，毕竟要结合刻意思考，刻意练习还有以教代练。
pandas经常和其它工具一同使用，如数值计算工具NumPy和SciPy，分析库statsmodels和scikit-learn，和数据可视化库matplotlib。pandas是基于NumPy数组构建的，特别是基于数组的函数和不使用for循环的数据处理。
虽然pandas采用了大量的NumPy编码风格，但二者最大的不同是pandas是专门为处理表格和混杂数据设计的。而NumPy更适合处理统一的数值数组数据。
那么如何使用pandas呢？

In [2]:
import pandas as pd #给pandas别名，更好的使用这个模块

### pandas的数据结构应用
#### Series
Series是一种类似于数组的对象，类似于Numpy，它由索引和数据所构成
比如以下例子：

In [8]:
import pandas as pd #给pandas别名，更好的使用这个模块
obj = pd.Series(list(range(1,10)))
print(obj)
print(obj.values)
print(obj.index)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64
[1 2 3 4 5 6 7 8 9]
RangeIndex(start=0, stop=9, step=1)

当然我们也可以修改他们的索引，比如

In [21]:
import pandas as pd #给pandas别名，更好的使用这个模块
obj2 = pd.Series(list(range(1,10)),index=list(range(1,19,2)))
print(obj2)
print(obj2.values)
print(obj2.index)
print(obj2[3])#也可以拿到单个或者多个的值
print(obj2[[1,3,5]])#注意当中一定要有两次的[]
print(obj2[:10])#切片的话只会对value进行切片，因此要注意
print(obj2[obj2>5])#跟上面切片一样的，也是可以通过判断筛选出值
4 in obj2 #这里又是指的index索引

1     1
3     2
5     3
7     4
9     5
11    6
13    7
15    8
17    9
dtype: int64
[1 2 3 4 5 6 7 8 9]
Int64Index([1, 3, 5, 7, 9, 11, 13, 15, 17], dtype='int64')
2
1    1
3    2
5    3
dtype: int64
1     1
3     2
5     3
7     4
9     5
11    6
13    7
15    8
17    9
dtype: int64
11    6
13    7
15    8
17    9
dtype: int64

False

我们其实看上面例子可以看出来Series是带有索引的数组，那不是和字典类似吗？那我们是不是可以用来应用字典呢？答案是当然可以

In [27]:
import pandas as pd #给pandas别名，更好的使用这个模块
a_dictionary={'mike':'hello','david':'hi','andy':'welcome'}  
obj3 = pd.Series(a_dictionary)
print(obj3)
#当然也可以改变字典的顺序比如
obj4 = pd.Series(a_dictionary,index=['david','mike','andy','jack'])
print(obj4)
#我们发现当中有null值,可以通过isnull来判断
print(pd.isnull(obj4))
#也可以这样
print(obj4.isnull())

mike       hello
david         hi
andy     welcome
dtype: object
david         hi
mike       hello
andy     welcome
jack         NaN
dtype: object
david    False
mike     False
andy     False
jack      True
dtype: bool
david    False
mike     False
andy     False
jack      True
dtype: bool

## DataFrame
DataFrame为表格型的数据结构。

In [6]:
import pandas as pd
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data)
print(frame)
print(frame.head())

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2
    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

当然也可以指定列的顺序

In [8]:
pd.DataFrame(data,columns=['pop','year','state'])

   pop  year   state
0  1.5  2000    Ohio
1  1.7  2001    Ohio
2  3.6  2002    Ohio
3  2.4  2001  Nevada
4  2.9  2002  Nevada
5  3.2  2003  Nevada

当然也可以在原来的数据中再加一列

In [16]:
data2=pd.DataFrame(data,columns=['pop','year','state','debt'])
print(data2)
data2=pd.DataFrame(data,columns=['pop','year','state','debt'],index=list(range(1,7)))
print(data2)

   pop  year   state debt
0  1.5  2000    Ohio  NaN
1  1.7  2001    Ohio  NaN
2  3.6  2002    Ohio  NaN
3  2.4  2001  Nevada  NaN
4  2.9  2002  Nevada  NaN
5  3.2  2003  Nevada  NaN
   pop  year   state debt
1  1.5  2000    Ohio  NaN
2  1.7  2001    Ohio  NaN
3  3.6  2002    Ohio  NaN
4  2.4  2001  Nevada  NaN
5  2.9  2002  Nevada  NaN
6  3.2  2003  Nevada  NaN

当然可以给null的值赋值

In [25]:
for i in range(1,7):
    data2['debt'][i]=i
print(data2)
print(data2['debt'])
print(data2.debt)#这两种方式都是一样的

   pop  year   state  debt
1  1.5  2000    Ohio     1
2  1.7  2001    Ohio     2
3  3.6  2002    Ohio     3
4  2.4  2001  Nevada     4
5  2.9  2002  Nevada     5
6  3.2  2003  Nevada     6
1    1
2    2
3    3
4    4
5    5
6    6
Name: debt, dtype: int64
1    1
2    2
3    3
4    4
5    5
6    6
Name: debt, dtype: int64

/var/folders/0n/6mryfm8x06gfzddk4dympfg80000gn/T/ipykernel_36999/681092870.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['debt'][i]=i